html, body{
	font-family: Lato, sans-serif; 

	padding: 0;
	margin: 0;

	background-color: #222222;
	color: #999999;
}

#toolkit{
	float: left;
	overflow: hidden;

	position: relative;

	margin: 20px 0;

	width: 120px;
	height: 720px;

	border: 1px solid #888888;

	/*background-color: #1d1d1d;*/
}

.label {
	font-size: 10px;
	text-align: center;

	margin: 8px 4px 0 4px;
	padding: 2px 0;
	color: #999999;

	border-bottom: 1px solid #999999;
}

.btn {
	font-size: 12px;
	text-align: left;

	margin: 4px 4px 0 4px;
	padding: 2px 0;
	color: #999999;
	background-color: #222222;

	transition: 0.1s;
}

.btn:hover{
	cursor: pointer;
	color: #ffffff;
	background-color: #333333;
}

.switch {
	text-align: center;

	margin: 4px 4px 0 4px;
	padding: 3px 4px 6px 4px;
	color: #999999;
	background-color: #222222;

	transition: 0.1s;
}

.switch:before{
	position: relative;
	top: 1px;
	right: 2px;
	content: '⚫';
}

.switch.off:before{color: #880000;}
.switch.on:before{color: #008800;}

.switch:hover{
	cursor: pointer;
	color: #ffffff;
	background-color: #333333;
}



